@model List<Fiver.Security.AspIdentity.Services.Identity.AppIdentityUser>

<table>
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Age</th>
            <th>Fail.Count</th>
            <th>Email Confirmed?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>@item.Age</td>
                <td>@item.AccessFailedCount</td>
                <td>@item.EmailConfirmed</td>
            </tr>
        }
    </tbody>
</table>

Go to <a asp-controller="Home" asp-action="Index">Home</a>